// colors 
$primary: #F7EDE2;
$secondary: #6A5139;
$tertiary: #E0B98F;
$onyx: #464646;
$white: #FCFCFC;
$black: #464646;

// fonts
$poppins: "Poppins", sans-serif;
$baiJamjuree: "Bai Jamjuree", sans-serif;
$syncopate: "Syncopate", sans-serif;
$bodoniModa: "Bodoni Moda", serif;
$didactic: "Didact Gothic", sans-serif;

// breakpoints
$xs: 320px;
$sm: 480px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

// mixins
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
// other
$box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;