// colors 
$primary: #F7EDE2;
$secondary: #6A5139;
$tertiary: #E0B98F;
$onyx: #464646;
$white: #FCFCFC;
$black: #464646;

// fonts
$poppins: "Poppins", sans-serif;
$baiJamjuree: "Bai Jamjuree", sans-serif;
$syncopate: "Syncopate", sans-serif;
$bodoniModa: "Bodoni Moda", serif;
$didactic: "Didact Gothic", sans-serif;


@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}