@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@100;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");

@import "./_variables.scss";

body {
  font-family: "Poppins", sans-serif;
  background-color: $primary;
  overflow: hidden;
}

html {
  height: -webkit-fill-available;
}

.main-container {
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  &.ios-overflow {
    //  overflow-x: scroll; /* Must be 'scroll' not 'auto' */
    -webkit-overflow-scrolling: touch;
  }
}

// html.has-scroll-smooth {

//   @media (min-width: $lg) {
//     bottom: 0;
//     left: 0;
//     overflow: hidden;
//     position: fixed;
//     right: 0;
//     top: 0;
//   }

// }

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    html.has-scroll-smooth {
      bottom: 0;
      left: 0;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
    }
  }
}

section {
  padding: 80px 0;
  .section-header {
    margin-bottom: 50px;
  }
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
a,
a:hover,
a:focus,
a:active {
  border: none;
  text-decoration: none;
  color: inherit;
}
