@import "../../styles/_variables.scss";

.about-section {
  background-color: $tertiary;
  width: 100vw;

  min-height: 1200px;
  display: flex;
  margin: 0 auto;
  @media (min-width: $lg)  {
    min-height: 120vh;
  }

  color: $onyx;
}

.about__title {
  font-family: $didactic;
  font-weight: 600;
  font-size: 3rem;
  position: absolute;
  z-index: 5;
  top: 5%;
  left: 0;

  @media (min-width: $lg) {
    top: 10%;
    left: 5%;
    line-height: 6vw;
    font-size: 5rem;
  }
}

.about__text {
  width: 80%;
  position: absolute;
  // top: 70%;
  // left: 50%;
  top: 50%;
  left: 10%;
  backdrop-filter: blur(2px);
  border-radius: 20px;
  font-size: 1.3rem;
  margin: 0 auto;

  @media (min-width: $lg) {
    transform: none;
    left: auto;
    width: 33%;
    position: relative;
    z-index: 5;
    margin-top: 20%;
    margin-left: 10%;
    font-family: $didactic;
    font-weight: 400;
    font-size: 1.8rem;
  }
}

.about__image {
  width: 50%;
  position: relative;
  text-align: -webkit-right;

  .about_image-1 {
    position: absolute;
    top: 7%;
    left: 27%;
    width: 70vw;
    box-shadow: $box-shadow;

    @media (min-width: $lg) {
      height: auto;
      width: 55%;
      left: 30%;
      bottom: 25%;
    }
  }
}
