@import "../../styles/_variables.scss";

.contact {
	background-color: $secondary;
	color: $primary;
	@include flex-center;
	flex-direction: column;
	will-change: transform;
	padding: 80px 0 40px;
	box-shadow: 5px 10px $secondary;

	@media (min-width: $md) {
		flex-direction: row;
		padding: 80px 60px 40px 60px;
	}
	@media (min-width: $lg) {
		height: 40vh;
		flex-direction: row;
		padding: 80px 80px 40px 80px;
	}
	&-container {
		width: 90%;
		height: 100%;
		display: grid;
		grid-auto-rows: minmax(0, 1fr);
		grid-auto-flow: row;
		justify-items: center;
		@media (min-width: $lg) {
			width: 60%;
			grid-auto-columns: minmax(0, 1fr);
			grid-auto-flow: column;
		}
		.contact__contacts {
			padding-top: 20px;
			@media (min-width: $md) {
				font-size: 1rem;
			}
			@media (min-width: $xl) {
				font-size: 1.3rem;
			}
			.contacts__email,
			.contacts__phone,
			.contacts__address {
				padding: 20px;
				svg {
					height: 30px;
					width: 30px;
					color: $primary;
				}
			}

			.contacts__whatsapp {
				padding: 0 20px 20px 20px;
				svg {
					padding-left: 15px;
					color: #25d366;
					height: 40px;
					width: 40px;
					animation: shake-animation 2.5s ease infinite;
				}
			}

			span {
				font-weight: 600;
				font-size: 1.2rem;
				@media (min-width: $md) {
					font-size: 1.3rem;
				}
				@media (min-width: $xl) {
					font-size: 1.6rem;
				}
			}
			p {
				padding-top: 10px;
			}
		}
	}

	.left-column {
		width: 80%;
		height: 100%;
		display: flex;
		flex-direction: column;
		@media (min-width: $lg) {
			width: 90%;
			display: block;
			width: 20%;
		}
		.contact__title {
			@include section-title;
			width: 50%;
			@media (min-width: $lg) {
				width: auto;
				height: 30%;
			}
		}
	}

	.row {
		display: flex;
		flex-direction: row;
		height: 70%;
		width: 50%;
		margin-top: 2rem;
		margin-left: -10px;

		@media (min-width: $lg) {
			padding-top: 27%;
			width: auto;
		}
		svg {
			padding: 10px;
			height: 40px !important;
			width: 40px !important;
			color: $primary;
			@media (min-width: $xl) {
				height: 50px !important;
				width: 50px !important;
			}
		}
	}

	.tooltip {
		position: relative;
	}

	.tooltip:hover span {
		opacity: 1;
		top: -5rem;
		left: 0.5rem;
		z-index: 99;
		transition: all 0.5s ease;
	}

	.tooltip span {
		border-radius: 15%;
		background: $onyx; /*-- some basic styling */
		color: $primary;
		font-family: $didactic;
		font-size: 0.8em;
		font-weight: normal;
		line-height: 1.5em;
		padding: 16px 15px;
		top: -3rem; /*-- this is the original position of the tooltip when it's hidden */
		left: 0.5rem;
		margin-left: 0;
		opacity: 0;
		position: absolute;
		text-align: center;
		z-index: 2;
		text-transform: none;
		transition: all 0.5s ease-in-out;
	}

	&__logo {
		text-align: center;
		@media (min-width: $md) {
			max-width: 20%;
		}
		&-text {
			font-family: $baiJamjuree;
			padding-top: 8px;
			@media (min-width: $lg) {
				margin-top: 0;
			}
		}

		&-img {
			width: 150px;
			margin-top: 3rem;
			@media (min-width: $lg) {
				margin-top: 0;
			}
		}
	}
}

@keyframes shake-animation {
	0% {
		transform: translate(0, 0);
	}
	3.78571% {
		transform: translate(5px, 0);
	}
	7.14286% {
		transform: translate(0, 0);
	}
	10.92857% {
		transform: translate(5px, 0);
	}
	14.71429% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}
