@import "../../styles/_variables.scss";

.contact-section {
  background-color: $secondary;
  color: $primary;
  @include flex-center;
  flex-direction: column;
  will-change: transform;
  @media (min-width: $lg) {
    height: 40vh;
    flex-direction: row;
  }
}

.contact-container {
  height: 100%;
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: row;
  justify-items: center;
  @media (min-width: $lg) {
    width: 60%;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
  }
  .contact {
    padding-top: 20px;
    .email,
    .phone,
    .address {
      padding: 20px;
    }
    span {
      font-weight: 600;
      font-size: 1.2rem;
    }
    p {
      padding-top: 10px;
    }
  }
}

.left-column {
  width: 90%;
  height: 100%;
  display: flex;
  @media (min-width: $lg) {
    display: block;
    width: 20%;
  }
  .section-title {
    font-family: $didactic;
    font-weight: 600;
    font-size: 3rem;
    width: 50%;
    @media (min-width: $lg) {
      width: auto;
      height: 30%;
      font-size: 5rem;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 50%;
  // align-items: center;

  @media (min-width: $lg) {
    padding-top: 27%;
    width: auto;
  }
  svg {
    padding: 10px;
    height: 40px;
    width: 40px;
    @media (min-width: $lg) {
      height: 50px;
      width: 50px;
    }
  }
}

.tooltip {
  position: relative;
}

.tooltip:hover span {
  opacity: 1;
  top: -8rem;
  left: 0.5rem;
  z-index: 99;
  transition: all 0.5s ease;
}

.tooltip span {
  border-radius: 15%;
  background: $onyx; /*-- some basic styling */
  color: $primary;
  font-family: "Helvetica";
  font-size: 0.8em;
  font-weight: normal;
  line-height: 1.5em;
  padding: 16px 15px;
  top: -5em; /*-- this is the original position of the tooltip when it's hidden */
  left: 0.5rem;
  margin-left: 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  z-index: 2;
  text-transform: none;
  transition: all 0.5s ease-in-out;
}

