@import "../../styles/_variables.scss";

.lang-switcher {
  background: rgba(255, 255, 255, 0.18);
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 15%;

  @media (min-width: $lg) {
    background: $white;
    position: fixed;
    right: 20px;
    bottom: 0;
    top: auto;
    padding: 10px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 0;
  }
}
