@import "../../styles/_variables.scss";

.lang-switcher {
  background: rgba(255, 255, 255, 0.2);
  z-index: 5;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 10px;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  color: $onyx;
  @include flex-center;
  flex-direction: column;

  @media (min-width: $lg) {
    background: $white;
    position: fixed;
    right: 20px;
    bottom: 0;
    top: auto;
    padding: 8px;
    padding-top: 5px;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .languages-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
    &--open {
      transition: max-height 0.5s ease-in;
      max-height: 200px;
    }
  }

  .arrow-up, .arrow-down {
    filter: contrast(0.5);
    height: 10px;
    margin: 0 auto;
  }

  .arrow-up {
    margin-bottom: 5px;
    display: none;
    @media (min-width: $lg) {
      display: block;
    }
  }
  .arrow-down {
    margin-top: 5px;
    transform: rotate(180deg);
    display: block;
    @media (min-width: $lg) {
      display: none;
    }
  }


  .current-lng {
    text-decoration: underline;
  }
}
