@import "../../styles/_variables.scss";

.description-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 60vh;
  p {
    font-size: 70px;
    line-height: 1.12;
    opacity: 0;
    margin: 0 50px;
    color: $onyx;
    > div {
      font-family: "Didact Gothic", sans-serif;
      opacity: 0;
      transform: translateY(0px);
      text-align: center !important;
    }
    &.is-reveal {
      opacity: 1;
    }
  }
}
