@import "../../styles/_variables.scss";

.gallery-wrap {
  background-color: $primary;
  margin-left: -5vw;
  margin-right: -5vw;
  padding: 0;
}

.gallery-counter {
  position: absolute;
  top: 3%;
  left: 18%;
  z-index: 1;
  mix-blend-mode: difference;
  line-height: 16px;
  color: $onyx;
  font-family: $baiJamjuree;
  font-weight: 600;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  display: inline-block;

  @media (min-width: $lg) {
    top: 10%;
    left: 200px;
  }

  .divider {
    content: "";
    background-color: $tertiary;
    width: 6.25vw;
    margin: 7px 10px;
    height: 1px;
    display: inline-block;
  }
}

.gallery {
  height: 100vh;

  // padding: 10vh 0;
  width: 400%;
  display: flex;
  flex-wrap: nowrap;

  .gallery-item {
    @include flex-center;

    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
  }

  .gallery-item-info {
    top: 7%;
    z-index: 1;
    transform: translateX(-20%);
    color: $onyx;
    position: absolute;
    left: 30px;
    @media (min-width: $lg) {
      top: auto;
      max-width: 60%;
      left: 0;
      bottom: 20%;

    }
    .gallery-info-title {
      line-height: 3rem;
      font-family: $didactic;
      font-weight: 600;
      font-size: 3rem;
      -webkit-font-smoothing: antialiased;

      @media (min-width: $lg) {
        line-height: 6vw;
        font-size: 5rem;
      }
    }

    .gallery-info-subtitle {
      line-height: 3rem;
      font-size: 3rem;
      position: relative;
      color: transparent;
      font-family: "Bodoni Moda";
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      -webkit-text-stroke: 2px $tertiary;
      @media (min-width: $lg) {
        line-height: 6vw;
        font-size: 5rem;
      }
    }

    .gallery-info-excerpt {
      position: relative;
      line-height: 24px;
      font-family: $didactic;
      font-weight: 400;
      font-size: 24px;
      -webkit-font-smoothing: antialiased;
      margin-top: 2vh;
    }
  }
  .gallery-item-wrapper {
    aspect-ratio: 16/9;
    height: 100%;
    display: grid;
    grid-template-columns: 20vw 1fr 20px;
    width: 100vw;
    @media (min-width: $lg) {
      grid-template-columns: 20vw 1fr 10vw;
    }

    &.is-reveal {
      .gallery-item-image {
        transform: scale(1);
        filter: none;
      }
    }
  }
  .gallery-item-image {
    background-size: cover;
    background-position: center;
    transform-origin: center;
    width: 85%;
    height: 70%;
    float: right;
    will-change: transform;
    transform: scale(0.7);
    transition: all 1.5s cubic-bezier(0.77, 0, 0.175, 1);
    filter: grayscale(100%) sepia(20%) brightness(80%);

    position: absolute;
    right: 0px;

    @media (min-width: $lg) {
      width: 50%;
      height: 70%;
    }
  }
}
