@import "../../styles/_variables.scss";

.intro__section {
  display: flex;
  align-items: center;
  height: 600px;
  @media (min-width: $lg) {
    justify-content: center;
    height: 60vh;
    padding: 100px 15% 0;
  }
  .intro__text {
    max-width: 60%;
    font-size: 3rem;
    line-height: 5rem;
    margin: 0 50px;
    color: $onyx;
    font-weight: bold;
    @media (min-width: $lg) {
      font-weight: normal;
      text-align: center;
      max-width: 100%;
      font-size: 6rem;
      line-height: 7rem;
    }
    .intro__line {
      font-family: $didactic;
      opacity: 0;
      transform: translateY(0px);
      text-align: center !important;
    }
  }
}
